.about {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: var(--neon-green);
}

.about h3 {
  font-size: 20px;
  letter-spacing: -0.75px;
  line-height: var( --font-body-height);
}

.about h3 {
  margin: 0 0 28px;
}

.about ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
}

.about ul li {
  margin: 0 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  font-family: var(--font-display);
  font-size: 15px;
  font-weight: 500;
  list-style: none;
}

.about ul li span {
  margin: 0 12px 0 0;
}

/* MEDIA QUERIES */

@media all and (max-width: 1200px) {
  .about {
    padding: var(--padding-1200px);
  }
}

@media all and (max-width: 1024px) {
  .about {
    padding: var(--padding-1024px);
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .about {
    padding: var(--padding-768px);
  }
}

@media all and (max-width: 480px) {
  .about {
    padding: var(--padding-480px);
  }
  .about h3 {
    font-size: 18px;
  }
}