.navbar {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  margin: var(--padding) 0 0 var(--padding);
  padding: 10px;
  height: var(--button-big-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--button-big-height);
  flex-direction: row;
  border-radius: var(--button-big-height);
  background-color: var(--white);
  box-shadow: 0 0px 36px rgba(40, 40, 40, 0.075);
  transition: all 0.25s;
}
.navbar.active {
  height: var(--button-big-height);
  width: 420px;
}
.nav-icons {
  /* position: absolute; */
  min-height: 45px;
  min-width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  animation: spin 5s infinite ease-out;
  rotate: 0deg;
  transition: all 0.25s, rotate 0.5s;
}
.nav-icons.active {
  scale: 1.25;
  animation: none;
  rotate: 135deg;
  transition: rotate 0.5s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav-items {
  margin: 0 15px 0 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.75px;
  line-height: var( --font-body-height);
  list-style: none;
  color: var(--white);
  opacity: 0;
  transition: all 0.15s ease-out;
}
.nav-items.active {
  color: var(--black);
  opacity: 1;
  transition: all 0.45s ease-out;
}

/* MEDIA QUERIES */

@media all and (max-width: 1200px) {
  .navbar {
    margin: var(--padding-1200px) 0 0 var(--padding-1200px);
  }
}

@media all and (max-width: 1024px) {
  .navbar {
    margin: var(--padding-1024px) 0 0 var(--padding-1024px);
  }
}

@media all and (max-width: 768px) {
  .navbar {
    margin: var(--padding-768px) 0 0 var(--padding-768px);
  }
}

@media all and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 32px;
  }
  .navbar.active {
    height: 300px;
    width: 200px;
  }
  .nav-items {
    margin: 0;
    padding: 14px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.75px;
    line-height: var( --font-body-height);
  }
  .nav-items a:hover {
    text-decoration: none;
  }
}

@media all and (max-width: 480px) {
  .navbar {
    margin: var(--padding-480px) 0 0 var(--padding-480px);
  }
}