.projects {
  padding: var(--padding);
  width: 100%;
	display: flex;
  flex-direction: column;
  background-color: var(--neon-green);
}

/* .projects {
  min-height: 100vh;
  width: 100%;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
} */