.project {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
	align-items: center;
  text-align: center;
}

.project img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  padding: 24px;
  height: 100%;
	width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
	align-items: flex-end;
  justify-content: center;
  color: var(--black);
  backdrop-filter: grayscale(1);
	transition: all 0.25s;
}

.overlay:hover {
	backdrop-filter: none;
}

.overlay-info {
  padding: 12.5px;
  /* width: 100%; */
  max-width: 320px;
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: space-between;
  border-radius: var(--button-big-height);
  background-color: var(--neon-green);
  box-shadow: 0 0 20px 10px rgba(40, 40, 40, 0.25);
}

.overlay-info h3 {
  margin: 0 0 0 15px;
  max-width: 128px;
  font-weight: 600;
  text-align: left;
}

.overlay-info button {
  margin: 0 0 0 12.5px;
  padding: 0 14px;
  height: var(--button-small-height);
  max-width: var(--button-small-width);
  min-width: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--button-small-font);
  letter-spacing: var(--button-small-spacing);
  border: 1.75px solid var(--black);
  background-color: var(--neon-green);
  color: var(--black);
  transition: all 0.25s;
}

.overlay-info button:hover {
  background-color: var(--black);
  color: var(--neon-green);
  fill: var(--neon-green);
}