.socials {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  margin-left: var(--padding);
  margin-bottom: calc(var(--padding) / 2);
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.socials div {
  height: auto;
  width: auto;
	filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
  color: var(--black);
	will-change: transform;
	transition: all 0.4s;
}

.socials div:hover {
	color: var(--purple);
	transform: translateY(-2.5px);
  transition: all 0.2s;
}

/* MEDIA QUERIES */

@media all and (max-width: 1200px) {
  .socials {
    margin-left: var(--padding-1200px);
    margin-bottom: calc(var(--padding-1200px) / 2);
  }
}

@media all and (max-width: 1024px) {
  .socials {
    margin-left: var(--padding-1024px);
    margin-bottom: calc(var(--padding-1024px) / 2);
  }
}

@media all and (max-width: 768px) {
  .socials {
    margin-left: var(--padding-768px);
    margin-bottom: calc(var(--padding-768px) / 2);
  }
}

@media all and (max-width: 480px) {
  .socials {
    margin-left: var(--padding-480px);
    margin-bottom: calc(var(--padding-480px) / 2);
  }
}