/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* VARIABLES */
:root {
  /* FONT VARIABLES */
  --font-display: "Epilogue", "Inter", sans-serif;
  --font-body: "Inter","Segoe UI", sans-serif;
  --font-body-size: 14px;
  /* --font-body-height: 28px; */
  --font-body-height: 1.75rem;

  /* COLOUR VARIABLES */
  --white: #FCFCFC;
  --black: #282828;
  /* --neon-green-yellow: #EFFE9F; */
  /* --neon-green-light: #EFFFB0; */
  --neon-green: #EAFFA7;
  --purple: #5100F1;
  --purple-light: #C7C9FF;

  /* BUTTON VARIABLES */
  --button-big-height: 65px;
  --button-big-width: 205px;
  --button-big-font: 18px;
  --button-small-height: 40px;
  --button-small-width: 145px;
  --button-small-font: 14px;
  --button-small-spacing: -0.5px;

  /* SPACING VARIABLES */
  --padding: 92px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "Epilogue";
  font-weight: 500;
  letter-spacing: -1.75px;
}

h2 {
  margin: 0 0 52px;
  font-size: 32px;
  font-weight: 600;
}

p {
  font-family: var(--font-body);
  font-size: var(--font-body-size);
  line-height: var(--font-body-height);
  margin: 0 0 28px;
}

button {
  border: none;
  border-radius: var(--button-big-height);
  font-family: var(--font-display);
  font-weight: 500;
  letter-spacing: -1.125px;
  cursor: pointer;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration:underline
}

.app {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  color: var(--black);
}

.app-intro {
  width: 50%;
}

.app-all {
  width: 50%;
  display: flex;
  flex-direction: column;
}